body, input, button, div {
    font-family: Arial !important;
}

.from-storage tr.main {
    display: flex;
    flex-wrap: wrap;
}

.table-600 {
    width: 600px;
}

.hidden {
    visibility: hidden;
    display: none;
    width: 0;
    height: 0;
    margin: 0 !important;
    padding: 0 !important;
}

.button {
    display: flex;
    align-items: center;
    user-select: none;
    background-color: #ffffff;

    border-radius: 10px;
}

.button:hover {
    background-color: #D9D9D9;
}

.button.button-icon {
    padding: 8px;
}

.button.button-text {
    padding: 10px 20px;
}

.__text {
    font-size: 18px;
}

.button.primary-button {
    background-color: #F14925;
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
}

.button.primary-button:hover {
    background-color: #f15b3b;
}

.button.agree-button {
    background-color: #008000;
    color: #ffffff;
    font-size: 20px;
}

.button.agree-button:hover {
    background-color: #006d00;
}

input.form-text {
    height: 40px;
    padding-left: 15px;

    font-size: 16px;
    border-radius: 10px;
    background-color: #dcdcdc;
    outline: 0;
    border: 0;
}

input.form-text:hover {
    background-color: #bfbfbf;
}

input.form-text:focus {
    outline: 1px solid #808080;
}

.error-block {
    display: flex;
    align-items: center;
    padding: 5px 0 5px 15px;

    background-color: #ff8080;
    border-radius: 10px;
}

.error-block > .__text {
    font-size: 14px;
    color: #d90000;
}