.page-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80px;

    padding: 0 25px;

    background-color: #034240;
    font-size: 30px;
    font-family: "Inter";
}

.page-header.for-myemails {
    width: calc(100% - 50px);
}

.page-header > .letter-name, .page-header > .header-name {
    position: relative;
    font-size: 26px;
    color: #ffffff;
    margin: 0 auto;
}

.page-header > .header-content {
    position: absolute;
    width: calc(100% - 50px);
    margin: 0 auto;
    display: flex;
}

.header-content > .header-elements-group {
    display: flex;
    align-items: center;
}

.header-content > .header-elements-group:first-child {
    margin-right: auto;
}

.header-content > .header-elements-group:last-child {
    margin-left: auto;
}

.header-elements-group > div:not(:last-child) {
    margin-right: 20px;
}

.logo-box > img {
    width: 75px;
    height: 75px;
}