@import "common.css";

body{
    margin: 0;
    background: url("../img/MainBackground.png") no-repeat center center fixed;
    background-size: 100% 100%;                  /* changes */
    /*background-image: url('1.jpg');*/
    /*background-size: cover;*/
    display: block;
}

.header{
    width: 100%;
    height: 81px;
    background-color: #034240;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: Arial;
    color:rgb(255, 255, 255);
}

div.main{
    margin-top: 70px;
    margin-bottom: 80px;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

.add{
    height: 360px;
    width: 259px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
    border: solid orangered 2px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    opacity: 0.7;
    display: flex;
    justify-content: center;
    align-items: center;

}

.email{
    height: 360px;
    width: 259px;
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-right: 30px;
    margin-left: 30px;
    margin-bottom: 50px;
    border: solid orangered 2px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    font-family: Arial; /* установка шрифта */
    font-size: 18px; /* установка размера шрифта */
}

.icons{
    display: flex;
}

.picture{
    height: 320px;
    width: 259px;
    display: flex;
    justify-content: center;
}

img{
    height: 90%;
    width: 80%;
}

.plus{
    height: 100px;
    width: 100px;
    border: 2px solid orangered;
    border-radius: 20px;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.line1{
    width: 50%;
    border: 3px solid orangered;
    height: 0px;
}

.vertical-line {
    height: 50%; 
    border: 3px solid orangered;
    width: 0px;
    position: absolute;
}

#modal-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 30%;
    background-color: white; /* белый цвет с небольшим прозрачным оттенком */
    z-index: 9999; /* поверх всех остальных элементов */
    box-shadow: 0 0 10px rgba(148, 46, 9, 0.452); /* тень */
    margin-left: 35%;
    margin-top: 200px;
    border: 3px solid orangered;
    border-radius: 20px;

    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Arial;
}

img.icon {
    height: 25px;
    margin: 0 auto;
}

.button {
    display: flex;
    align-items: center;
    user-select: none;
    background-color: #ffffff;

    border-radius: 10px;
}

.button:hover {
    background-color: #D9D9D9;
}

.button-icon {
    padding: 8px;
}

.email-body {
    width: calc(100% - 30px);
    padding: 15px;
}

.email-body.scaled {
    transform: scale(0.4935);
}

.save{
    padding: 10px;
    background-color: green;
    border-radius: 20px;
    border: 2px darkgreen solid;
    color: white;
    width: 20%;

}

.close{
    padding: 10px;
    background-color: gray;
    border-radius: 20px;
    border: 2px rgb(98, 98, 98) solid;
    color: white;
    width: 20%;

}

.buttns{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

input.title {
    padding: 15px;
    border: 2px rgb(0, 81, 0) solid;
    border-radius: 30px;
    width: 60%;
    color: darkgreen;
    margin-bottom: 30px;
}

.save:hover{
    background-color: rgb(0, 95, 0);

}

.close:hover{
    background-color: rgb(98, 98, 98);
}

.disable {
    display: none;
}

.delWindow {
    /*background-color: #ffffff;
    border-radius: 9px;
    border: 1px solid black;
    display: flex;
    width: 30%;
    height: 30%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;*/
    font-family: "Inter";
    position: fixed;
    top: 0;
    left: 0;
    width: 30%;
    height: 30%;
    background-color: white; /* белый цвет с небольшим прозрачным оттенком */
    z-index: 9999; /* поверх всех остальных элементов */
    box-shadow: 0 0 10px rgba(0, 0, 0, 2); /* тень */
    margin-left: 35%;
    margin-top: 200px;
    border: 3px solid orangered;
    border-radius: 20px;
    padding-top: 40px;
    text-align: center;

    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.phrase {
    font-family: "Inter" !important;
    margin-bottom: 50px;
}

.btns {
    display: flex;
    justify-content: space-around;
}

.yes-btn {
    background-color: red;
    color: white;
    border: 1px solid rgb(158, 158, 158);
    border-radius: 10%;
}